@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.hangman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  margin: 5vh auto;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.hiddenString {
  text-align: center;
  margin: 0;
}

.loadText {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keysGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vh auto;
}

.key {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 0.25rem;
  color: white;
  background: #0079c9;
  border: none;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.key:hover {
  background-color: #5DA2D5;
}

.resultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.resultsContainer img {
  width: 25vw;
  min-width: 250px;
  height: auto;
  margin: 3rem;
}

.resultsContainer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: clamp(45ch, 50%, 75ch);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  margin: 3rem;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.resultsContainer .info .again {
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.resultsContainer .info .win {
  color: #8FAF7F;
}

.resultsContainer .info .lose {
  color: #DA4C4C;
}

.resultsContainer .info p {
  margin: 1.5rem 0;
}

@media screen and (max-width: 450px) {
  .resultsContainer img {
    padding: 1rem;
    min-width: 90%;
  }
  .resultsContainer .info {
    width: clamp(45ch, 50%, 75ch);
    margin: 3rem 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 884px) {
  .resultsContainer {
    height: auto;
  }
  .resultsContainer img {
    width: 50vw;
  }
}
/*# sourceMappingURL=global.css.map */