@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.hangman{
    display: flex;
    height: 30vh;
    margin: 5vh auto;
    padding: 2rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.hiddenString{
    text-align: center;
    margin: 0;
}

.loadText{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keysGrid{
    display: flex;
    max-width: 600px;
    justify-content: center;
    margin: 5vh auto;
}

.key{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 0.25rem;
    color: white;
    background: #0079c9;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;;

    &:hover{  background-color: #5DA2D5;  }
}

.resultsContainer{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;

    img{
        width: 25vw;
        min-width: 250px;
        height: auto;
        margin: 3rem;
    }

    .info{
        display: flex;
        width: clamp(45ch, 50%, 75ch);
        align-items: center;
        padding: 3rem;
        margin: 3rem;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

        .again{
            background-color: white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        }

        .win    {  color: #8FAF7F;  }
        .lose   {  color: #DA4C4C;  }
        p       {  margin: 1.5rem 0;  }
    }
}


@media screen and (max-width: 450px) {
    .resultsContainer{
        img{ 
            padding: 1rem;
            min-width: 95%;    
        }

        .info{
            width: clamp(45ch, 50%, 75ch);
            margin: 3rem 0;
            border-radius: 0;
        }
    }    
}

@media screen and (max-width: 884px) {
    .resultsContainer{
        height: auto;

        img{ 
            width: 50vw;    
        }
    }    
}